# Directorios y ficheros ignorados por git
*.settings
*.project
*.classpath
*.externalToolBuilders
.atomignore
node
node_modules
target
externs
libraries
doc
build
dist
index.js
package-lock.json
index-*.js
entry-points-plugins.json
*~
.vscode
/.metadata/
/.sonarlint/
