.cesium-credit-logoContainer {
    display: none !important;
}

.cesium-viewer-bottom {
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 4px 0 0;
}

/* Control zoom */
.cesium-zoom>button {
    background-color: white !important;
    margin: 0 !important;
    padding: 0px;
    color: #404040 !important;
    opacity: .75;
    font-size: 18px !important;
    text-align: center;
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    box-shadow: 0px 1px 3px 0px #CACACA;
}

.cesium-zoom>button:hover,
.cesium-zoom>button:focus {
    background-color: transparent;
    outline: none !important;
}

.cesium-zoom>button:hover {
    opacity: 1;
}

.cesium-zoom>button.cesium-zoom-in:before {}

.cesium-zoom>button.cesium-zoom-in,
.cesium-zoom>button.cesium-zoom-out {
    border-radius: 2px 2px 0 0;
    border: 2px solid white;
    color: #fff !important;
    background-color: #71A7D3 !important;
    opacity: 1;
    margin: 0 !important;
    padding: 0px;
    font-size: 18px !important;
    text-align: center;
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    box-shadow: 0px 1px 3px 0px #CACACA;
    display: block;
    font-weight: bold;
    text-decoration: none;
    line-height: .4em;
}

.cesium-zoom>button.cesium-zoom-out {
    border-top: none;
}
/* ----------------------------------- */