{
  "extends": "airbnb",
  "globals": {
    "M": true,
    "ol": "true",
    "CustomEvent": "true",
    "Handlebars": true,
    "proj4": true,
    "ActiveXObject": true,
    "jsts": true,
    "document": true,
    "window": true,
    "DOMParser": true,
    "XMLHttpRequest": true,
    "Image": true,
    "Draggabilly": true,
    "XMLSerializer": true,
    "FileReader": true,
  },
  "rules": {
    "no-underscore-dangle": "off",
    "import/extensions": ["error", "never"],
    "import/no-unresolved": "off",
    "prefer-destructuring": "off",
    "arrow-body-style": "off",
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "none"
    }],
    "max-len": ["error", { "code": 9000 }],
    "class-methods-use-this": "off",
    "no-case-declarations": "off",
    "import/no-mutable-exports": "off",
    "no-template-curly-in-string": "off",
    "import/no-duplicates": off,
    "import/no-named-default": "off",
    "func-names": "off",
    "eqeqeq": "off",
    "no-bitwise": "off",
    "prefer-template": "off",
    "consistent-return": "off",
    "no-useless-constructor": "off",
    "no-lonely-if": "off",
    "space-before-function-paren": "off",
  }
}
