<div>
   <h2 style="text-align: center; color: #fff; background-color: #364b5f; padding: 8px 10px;">SCALELINE</h2>
   <div>
      <p>{{translations.help1}}</p>
      <p>{{translations.help2}}</p>
      <p>{{translations.help3}}: <a tabindex="0" href="https://blogs.upm.es/espacio-geotig/cartografia/escala-cartografica/" target="_blank">https://blogs.upm.es/espacio-geotig/cartografia/escala-cartografica/</a></p>
      <img src="{{urlImages}}/scaleline.png" style="margin: 0 auto; display: block">
   </div>
</div>