<div class="m-control m-layerswitcher-container">
    <div class="m-layersiwtcher-panel" id="m-layerswitcher-panel">
        <ul>
            {{#gt baseLayers.length 0}}
                <li class="group">
                    <div class="title">Capas base</div>
                    <ul>
                        {{#each baseLayers}}
                            <li class="{{#if outOfRange}}disabled{{/if}}{{#if visible}} visible{{/if}}">
                                <div class="layer-base">
                                    <span data-layer-name="{{id}}" class="m-check g-cartografia-check{{#if visible}}5{{^}}4{{/if}}"></span>
                                    <span>{{title}}</span>
                                </div>
                                <div class="legend">
                                    <img data-layer-name="{{id}}" src="{{legend}}"></img>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/gt}} {{#gt overlayLayers.length 0}}
                <li class="group">
                    <div class="title">Otras capas</div>
                    <ul>
                        {{#each overlayLayers}}
                            <li class="{{#if outOfRange}}disabled{{/if}}{{#if visible}}visible{{/if}}">
                                <div class="layer">
                                    <span data-layer-name="{{id}}" class="m-check g-cartografia-check{{#if visible}}3{{^}}2{{/if}}"></span>
                                    <span class="m-title">{{title}}</span>

                                </div>
                                <div class="tools">
                                    <input type="range" data-layer-name="{{id}}" class="m-layerswitcher-transparency" min="0" max="1" step="0.1" value="{{opacity}}" {{#unless visible}} disabled {{/unless}} {{#if outOfRange}} disabled {{/if}} />
                                    <span data-layer-name="{{id}}" class="g-cartografia-cancelar m-layerswitcher-remove"></span>
                                </div>
                                <div class="legend">
                                    <img data-layer-name="{{id}}" src="{{legend}}" {{#if isIcon}} width="32px" height="32px" {{/if}}></img>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/gt}}
        </ul>
    </div>
</div>