<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
      <filter-name>CorsFilter</filter-name>
      <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
      <init-param>
    	   <param-name>cors.allowed.origins</param-name>
    	   <param-value>*</param-value>
  	  </init-param>
    </filter>
    <filter-mapping>
      <filter-name>CorsFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>mapea-rest-api</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>es.cnig.mapea</param-value>
        </init-param>
	    <init-param>
	        <param-name>jersey.config.server.provider.classnames</param-name>
	        <param-value>com.sun.jersey.multipart.MultiPart</param-value>
	    </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mapea-rest-api</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>proxyMapea</servlet-name>
      <servlet-class>es.cnig.mapea.proxy.ProxyRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>proxyMapea</servlet-name>
      <url-pattern>/proxyPost</url-pattern>
    </servlet-mapping>
</web-app>
