# Directorios y ficheros ignorados por git
*.settings
*.project
*.classpath
*.externalToolBuilders
*.log
.atomignore
node
node_modules
target
libraries
doc
dist
index.js
index-*.js
entry-points-plugins.json
*~
chromedriver.log
